---
layout: layout
---
<div class="row">
<div class="reference-nav col-md-3">
    <h3>Trainers</h3>
    <ul>
        <li><a href="nnMakeSimpleGradientTrainer.html">nnMakeSimpleGradientTrainer</a></li>
        <li><a href="nnMakeUntilDoneGradientTrainer.html">nnMakeUntilDoneGradientTrainer</a></li>
    </ul>

    <h3>Neural nets</h3>
    <ul>
        <li><a href="MultilayerPerceptron.html">Multilayer perceptron</a>
            <ul class="sublist">
                <li><a href="nnMakeMultilayerPerceptron.html">nnMakeMultilayerPerceptron</a></li>
                <li><a href="nnTrainMultilayerPerceptron.html">nnTrainMultilayerPerceptron</a></li>
            </ul>
        </li>
    </ul>
    
    <h3>Neural net functions</h3>
    <ul>
        <li><a href="nnFeedForward.html">nnFeedForward</a></li>
        <li><a href="nnGetWeights.html">nnGetWeights</a></li>
        <li><a href="nnMakeArray.html">nnMakeArray</a></li>
        <li><a href="nnMakeWeights.html">nnMakeWeights</a></li>
    </ul>

    <h3>Utilities</h3>
    <ul>
        <li><a href="nnClearAllObjects.html">nnClearAllObjects</a></li>
        <li><a href="nnGetCrossEntropyError.html">nnGetCrossEntropyError</a></li>
        <li><a href="nnGetMeanSquareErro.htmlr">nnGetMeanSquareError</a></li>
    </ul>
</div>
<div class="reference-body col-md-9">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>
</div>